name: SAST - SonarQube

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  sast:
    runs-on: self-hosted

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run SonarQube Scan
        run: |
          docker run --rm \
            -v "${PWD}:/usr/src" \
            sonarsource/sonar-scanner-cli \
            -Dsonar.projectKey=SAST-DEMO \
            -Dsonar.sources=. \
            -Dsonar.host.url=http://host.docker.internal:9000 \
            -Dsonar.login=sqp_c08e6cd7a6fc3f9df8002b735e34bfd5ab6af866 \
            -Dsonar.python.version=3.10

