name: SAST - SonarQube

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  sast:
    runs-on: self-hosted

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run SonarQube Scan
        run: |
          docker run --rm \
            -v "${PWD}:/usr/src" \
            sonarsource/sonar-scanner-cli \
            -Dsonar.projectKey=test \
            -Dsonar.sources=. \
            -Dsonar.host.url=http://host.docker.internal:9000 \
            -Dsonar.login=sqp_c2a51e667aef1064724c6151fcea2acecaf0c196 \
            -Dsonar.python.version=3.10

